


#container{
    background-color: yellow;
    border: 2px solid red;
    width: 60%;
    height: 320px;
    margin: 20px auto;
    /* margin-block: 20px; */
    /* margin-inline: 35px; */
    display: flex;
    /* flex-direction: row; */
    /* justify-content: space-between; */
    /* justify-content: space-around; */
    justify-content: space-evenly;
    align-items: center;

}

.taille{
    width: 100px;
    height: 80px;
    margin-block: 20px;

}

.div1{
    background-color: pink;
 
}

.div2{
    background-color: rgb(148, 221, 119);

}

.div3{
    background-color: rgb(84, 21, 167);

}

.div4{
    background-color: rgb(245, 24, 61);

}
