
h1{
    color: #D95C14;
    text-align: center;
}

h4 span {
    color: red;
}

p span {
    font-size: small;
}
/* 
selecteur {
    propriété:valeur;
    propriété:valeur;
} 
color(propriété):blue(valeur);

les valeurs posssibles pour les couleurs:
 ->Notation hexadecimale : #ffffff (blanc)
        ->notation hexadecimale courte : #fff
        ->notation rgb(255, 255, 255) -> rouge vert bleu
        ->notation rgba(255,255,255,0) -> le dernier chiffre correspond à l'opacité : entre 0 (transparent) et 1 (opaque)
        -notation avec mots clés -> red, green, bleu ... 
*/
